ToDo domotica.md
ToDo domotica shortterm.md
/Points of attention.md
ToDo domotica shortterm.md
developmentConfiguration.json
HAPiNest.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
be.oneclick.HAPiNest.plist
*.xcbkptlist
