<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>43</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>42</string>
							<key>Timestamp</key>
							<string>725587463.3800499</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>home-directory</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Documents/Development/Projects/Personal/Xcode/HomeAutomation/Drivers/ModbusDriver/Sources/ModbusDriver/ModbusDriver.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>            if errorCount == maxErrorCount{
</string>
						<key>leading</key>
						<string>        case .error:
            errorCount += 1
</string>
						<key>trailing</key>
						<string>                DispatchQueue.main.asyncAfter(deadline: .now() + reconnectInterval) {
                    // Try to reconnect after a while
                    self.reconnect()
</string>
					</dict>
					<key>title</key>
					<string>Fix iofailure after retry</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Accessory Delegates/PLC based Accessory Delegates/GarageDoor.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>WIP</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Documents/Development/Projects/Personal/Xcode/HomeAutomation/Drivers/LeafDriver/Sources/LeafDriver/BatteryChecker.swift</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>57</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>56</string>
					<key>Timestamp</key>
					<string>725583443.55126</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Documents/Development/Projects/Personal/Xcode/HomeAutomation/Drivers/LeafDriver/Sources/LeafDriver/BatteryChecker.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    private var updateIsOutdated:Bool{
</string>
				<key>leading</key>
				<string>    }
    
</string>
				<key>trailing</key>
				<string>        
        let formatter = DateFormatter()
        formatter.dateFormat = "yyyy/mm/dd HH:mm"
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
